<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">
          I'm work in this project to learn NodeJS
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made with  <i class="material-icons" style="color:red">favorite</i> by
      <a class="orange-text text-lighten-3" href="http://joseluiz.net">José Luiz</a>
    </div>
  </div>
</footer>
