<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
       <a href="/" class="brand-logo"><i class="material-icons">cloud</i>SC-vH<b>{{user.name}}</b></a>

        {% if (user)  %}
          <ul class="right hide-on-med-and-down">
              <li><a href="/logout">Logout</a></li>
              <li><a href="/signup">Create Account</a></li>
          </ul>
          {% else %}
          <ul class="right hide-on-med-and-down">
              <li><a href="/signin">Login</a></li>
          </ul>
        {% endif %}

        <ul class="right hide-on-med-and-down">
            {# {% if (user.provider === true) %}
            {% endif %} #}
          <li><a href="/create">Add Case</a></li>
          <li><a href="/list">List</a></li>
        </ul>



        <ul id="nav-mobile" class="sidenav">
            <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
            <li><a href="#!">Second Link</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Subheader</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>

