<!DOCTYPE html>
<html lang="en">
 {% include "_partials/head.njk" %}
 <body>
  <a class="github-fork-ribbon fixed" href="https://github.com/shpsyte/vhsuccescase" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
   {% include "_partials/navbar.njk" %}
   {% block body%} {% endblock%}
   {% include "_partials/footer.njk" %}
   {% include "_partials/javascript.njk" %}
   {% block src%} {% endblock%}
</body>
</html>
