{% extends "_layouts/default.njk" %}

{% block body %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m4">

                {{ user.name }}


                </div>
            </div>
        </div>
    </div>
{% endblock %}
