{% extends "_layouts/default.njk" %}

{% block body %}
{% include "_partials/flash.njk" %}

<div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Count by Skill</span>
          <div id="chart_div"></div>
        </div>

      </div>
    </div>

     <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Count by City</span>
           <div id="chart_city"></div>
        </div>

      </div>
    </div>
  </div>


<div class="row">
    <div class="col s12 m12">
      <div class="card teal lighten-2">
        <div class="card-content white-text">
          <span class="card-title">Hired by Year</span>
           <div id="chart_year"></div>
        </div>

      </div>
    </div>


  </div>


<div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Table -  Search you skill and see how city is hiring</span>
             <table id="tablecity">
              <thead>
                  <tr>
                      <th>City</th>
                      <th>Skill</th>
                      <th>Count</th>
                  </tr>
              </thead>
              <tbody>
                  {% for case in skillCityCounts %}
                      <tr>
                          <td>{{case.city}}</td>
                          <td>{{case.skill}}</td>
                          <td>{{case.count}}</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>

        </div>

      </div>
    </div>


  </div>






{% endblock %}

{% block src %}
  <script src="chart.js"></script>
{% endblock %}
